#container{
    background-color:#f7f7e7;
}
#Portfolio{
    display: flex;
    text-align: center;
    padding-left: 13%;
    padding-top: 60px;
    padding-bottom: 20px;
}
#container>#box{
    display: flex;
    /* border: 2px solid; */
    width: 75%;
    margin :auto;
    justify-content: space-between;
}

#container>#box>div{
    background-color:#fff;
    margin-top: 30px;
    /* width: 70%; */
    border-bottom: 1px solid lightgray ;
}
#container>#box>div>div+div{
    padding-left: 25px;
}
#container>#box>div>div>img{
    width: 350px;
}
#container>#box>div>div+div>h1{
    font-size: 1.35em;
    font-weight: 700;
    margin: 30px 0px;
}
#container>#box>div>div+div>p{
    line-height: 25px;
    margin-bottom:40px;
    color: #5d5d5d;
}
#container>#box>div>div+div>button{
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    padding: 15px 25px;
    border-radius: 5px;
    margin-bottom: 40px;
}